* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* navbar */

nav {
  height: 10vh;
  background-color: #e0e1eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 35px;
}

nav .brandd {
  font-size: 30px;
  text-decoration: none;
  color: black;
}

.navv-menu {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0px;
}

nav li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding: 0px 15px;
}

nav li:hover {
  border: 1px solid black;
}

.active {
  border-bottom: 1px solid black;
  pointer-events: none;
}

.active a {
  pointer-events: none;
  color: grey;
}

.active:hover {
  border: none;
  border-bottom: 1px solid black;
}

nav li a {
  text-decoration: none;
  display: block;
  color: black;
  font-size: 15px;
}

nav li a:hover {
  color: black;
  text-decoration: none;
}

nav .buttons button {
  font-size: 15px;
  border-radius: 7px;
  background-color: rgb(70, 70, 70);
  color: #e0e1eb;
  border: 0px;
  width: 100px;
  height: 35px;
  margin: 0px 3px;
}

.buttons button:hover {
  background-color: #e0e1eb;
  color: rgb(70, 70, 70);
  border: 1px solid rgb(70, 70, 70);
  cursor: pointer;
}

.hamburger {
  display: none;
}

.hamburger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: black;
}

/* 
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
*/

/*@media screen and (max-width: 768px) {
}*/
/*
@media only screen and (max-width: 768px) {
  .nav-menu,
  .buttons {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  
}
*/

@media screen and (max-width: 768px) {
  nav {
    background-color: rgb(70, 70, 70);
  }

  body {
    overflow-x: hidden;
  }

  .nav-menu {
    z-index: 5;
    position: absolute;
    right: 0px;
    height: 60vh;
    top: 10vh;
    background-color: rgb(70, 70, 70);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  /* .nav-menu li {
    opacity: 0;
  } */

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .buttons {
    z-index: 5;
    position: absolute;
    right: 0px;
    height: 30vh;
    top: 69vh;
    background-color: rgb(70, 70, 70);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  nav .buttons button {
    color: black;
    /* opacity: 0; */
  }
}

.nav-active {
  transform: translateX(0%);
}

/* footer*/

.footer {
  min-height: 50vh;
  background-color: #cecfd1;
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 40px;
  align-items: center;
}

.links-container {
  height: 40vh;
  width: 30vw;
}

.links-container h6 {
  text-align: center;
  font-size: 20px;
  border-bottom: 1px solid black;
  position: absolute;
  margin-left: 115px;
}

.links-list {
  text-align: center;
  list-style: none;
  line-height: 40px;
  margin-top: 50px;
}

.links-list a {
  text-decoration: none;
  color: black;
}

.links-list li a:hover {
  border-bottom: 1px solid black;
}

.footer-active {
  pointer-events: none;
}

.footer-active a {
  pointer-events: none;
  color: grey;
}
